<title>@ViewData["Title"] - Movie App</title>

<h2>My Movie List</h2>

@{
    int bruh = 1;
    if (bruh == 0)
    {
        <p>Hello from our View Template!</p>
    }
    else
    {
        <p>non</p>
    }
}
